body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  background: url(soccer.jpg) repeat;
  color: black;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h2 {
  border-bottom: 2px solid gray;
  color: white;
}
.jumbotron {
padding: 30px;
margin-bottom: 30px;
color: white;
background-color: green;
}
